openapi: 3.0.3
info:
  title: Cognitive Blueprint — Innate Constitutional & Navigational Architecture
  version: 1.0.0
  description: >-
    High-precision lifelong navigational compass and constitutional architecture for AI agents, executive advisors, and autonomous systems.
    Computes invariant baselines, authentic decision dynamics, and talent transmutations from permanent spatiotemporal coordinates.


    Keywords: constitutional-ai, behavioral-telemetry, autonomous-agents, decision-intelligence, mentorship-tools, human-potential,
    executive-coaching, cognitive-architecture.


    ### 🏛️ The 5 Lifelong Criteria & Access Tiers

    - **Criterion 1 [Free Tier]**: `POST /v1/criterion/1` — Identity & Sovereign Architecture (9 Engines)

    - **Criterion 2 [Pro Tier]**: `POST /v1/criterion/2` — Blocks, Defense & Lineage Architecture (6 Engines)

    - **Criterion 3 [Pro Tier]**: `POST /v1/criterion/3` — Vocation, Craft & Capital Architecture (6 Engines)

    - **Criterion 4 [Mega Tier]**: `POST /v1/criterion/4` — Direction, Timing & Macro-Scaling Architecture (6 Engines)

    - **Criterion 5 [Mega Tier]**: `POST /v1/criterion/5` — Operating Dynamics, Somatics & Energy Protocols (6 Engines)


    Full documentation, engine specifications, and vector dictionaries: https://github.com/fractaldecipher/Cognitive-Blueprint-AI-Docs
  contact:
    name: Cognitive Blueprint Architecture Team
    url: https://github.com/fractaldecipher/Cognitive-Blueprint-AI-Docs
  license:
    name: Proprietary Commercial License
servers:
  - url: https://api.cognitiveblueprint.ai
    description: Production API Gateway (Configurable Deployment URL)
  - url: https://cognitive-blueprint-ai.p.rapidapi.com
    description: RapidAPI Managed Proxy Gateway
  - url: http://localhost:3000
    description: Local Development & Integration Environment
security:
  - RapidApiKey: []
    RapidApiHost: []
tags:
  - name: 'Criterion 1: Identity & Core Architecture'
    description: Foundational baseline of psychophysical constitution, decision-making mechanics, and sovereign identity across 9 engines (Free Tier).
  - name: 'Criterion 2: Inhibitors, Shadows & Structural Blocks'
    description: Somatic defense mechanisms, ancestral conditioning loops, and systemic energy leaks across 6 engines (Pro Tier).
  - name: 'Criterion 3: Vocation, Craft & Capital Architecture'
    description: Vocational calling, craft execution, market positioning, and capital architecture across 6 engines (Pro Tier).
  - name: 'Criterion 4: Direction, Evolution & Strategic Navigation'
    description: >-
      Strategic horizons: macro timing acceleration, spatial geometry, antifragility, and sovereign wealth navigation across 6 engines (Mega
      Tier).
  - name: 'Criterion 5: Operating Mode, Equilibrium & Bio-Prescriptions'
    description: >-
      Daily nervous system regulation, sensory intake, acoustic resonance, restorative rest, and biological energy hygiene across 6 engines
      (Mega Tier).
  - name: System Telemetry
    description: Service health check, latency verification, and container uptime probe.
paths:
  /v1/criterion/1:
    post:
      summary: 'Criterion 1: Identity & Sovereign Architecture [Free Tier]'
      tags:
        - 'Criterion 1: Identity & Core Architecture'
      operationId: computeCriterion1Identity
      deprecated: false
      description: >-
        Evaluates the foundational baseline of psychophysical constitution, decision-making mechanics, and sovereign identity across 9
        analytical engines. Emits active standardized vector IDs and curated telemetry metrics with inline interpretation guides. Detailed
        engine specifications and methodologies are available in the repository documentation.


        1. engine_1: What is my core life role, and through what natural compass do I make authentic decisions?

        2. engine_2: How do I naturally process reality, and what environment and calling truly nourish my mind and spirit?

        3. engine_3: What is my authentic path of learning, self-mastery, and sharing wisdom with the world?

        4. engine_4: How does my mind perceive time, orient toward challenges, and navigate contemplative thresholds?

        5. engine_5: What is my unshakeable moral compass, my soul's core impulse, and what protects me from self-betrayal?

        6. engine_6: What subtle constitutional tendencies, somatic rhythms, and inner stamina shape my lived experience?

        7. engine_7: What overarching archetypal journey, life lessons, and soul longings shape my personal pilgrimage?

        8. engine_8: What higher archetypal ideals, subtle currents, and conscious aspirations guide my presence?

        9. engine_9: What vibrational signature, social resonance, and tangible footprint does my expressed identity carry in the world?
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileInput'
            example:
              name: Nikola Tesla
              birthDate: '1856-07-10'
              birthTime: '00:00'
              timezoneOffset: 1.02
              latitude: 44.5809
              longitude: 15.3
              gender: male
      responses:
        '200':
          description: Criterion 1 analysis executed successfully. Returns active vectors and sanitized math indicators for all 9 engines.
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The maximum number of requests allowed in the current subscription period.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of remaining requests allowed in the current subscription period.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CriterionEnvelopeResponse'
              example:
                status: success
                criterionNumber: 1
                profile:
                  name: Nikola Tesla
                  birthDate: '1856-07-10'
                  birthTime: '00:00'
                  timezoneOffset: 1.02
                  latitude: 44.5809
                  longitude: 15.3
                  gender: male
                totalActiveVectors: 45
                criterion:
                  criterionId: 1
                  title: Identity & Sovereign Architecture
                  totalVectors: 45
                  coherenceScore: 60
                  crossEngineAlerts: []
                  dominantTheme: KINETIC_BUILDER_ARCHITECTURE
                  engines:
                    - engineId: engine_1
                      description: What is my core life role, and through what natural compass do I make authentic decisions?
                      vectors:
                        - VEC_ID_CORE_KINETIC_BUILDER
                        - VEC_ID_DECISION_EMOTIONAL_WAVE
                        - VEC_ID_AUTONOMY_BRIDGE_REQUIRED
                        - VEC_ID_AVATAR_MASK_KINETIC_PIONEER
                        - VEC_ID_ZENITH_LEGACY_INSTITUTIONAL_BUILDER
                        - VEC_ID_STRATEGY_TO_RESPOND
                        - VEC_ID_STEERSMAN_MERCURIAL_SYNAPSE
                        - VEC_ID_STEERSMAN_DIGNITY_SOVEREIGN
                        - VEC_ID_DYNAMICS_ELEMENT_EARTH_STRUCTURAL
                        - VEC_ID_DYNAMICS_MODALITY_CARDINAL_INITIATOR
                        - VEC_ID_DYNAMICS_POLARITY_YIN_CONTAINED
                        - VEC_ID_DYNAMICS_FACADE_CORE_POLARIZED_TENSION
                        - VEC_ID_DYNAMICS_STELLIUM_CONVERGENCE
                      math:
                        throughputScore:
                          value: 95
                          description: Energetic throughput capacity (scale 0-100, >75 indicates high sustained work output)
                        deliberationLatencyHours:
                          value: 48
                          description: Optimal deliberation window in hours required before making irreversible commitments
                        clarityScore:
                          value: 82
                          description: Emotional wave stability and decision clarity baseline (scale 0-100)
                        autonomyScore:
                          value: 45
                          description: Operational autonomy and independence from external validation (scale 0-100)
                        dependencyIndex:
                          value: 70
                          description: Susceptibility to external conditioning and reliance on outside direction (scale 0-100)
                        bridgeCount:
                          value: 2
                          description: Count of active electro-magnetic bridge channels integrating centers
                        sovereigntyScore:
                          value: 9
                          description: Innate authority and autonomous decision governance (scale 1-10, >7 indicates sovereign operation)
                        yangRatio:
                          value: 0.4
                          description: Proportion of active initiating impulse vs total dynamic energy (scale 0.0-1.0)
                        yinRatio:
                          value: 0.6
                          description: Proportion of receptive integrating impulse vs total dynamic energy (scale 0.0-1.0)
                        facadeVsCoreDivergenceIndex:
                          value: 0.8
                          description: Structural tension between external persona presentation and authentic core self (scale 0.0-1.0)
                    - engineId: engine_2
                      description: How do I naturally process reality, and what environment and calling truly nourish my mind and spirit?
                      vectors:
                        - VEC_ID_ENV_SHORES
                        - VEC_ID_MOTIVATION_INNOCENCE
                        - VEC_ID_PROC_BRAIN_ACTIVE_STRATEGIC
                        - VEC_ID_PROC_VIEW_PERIPHERAL_HOLISTIC
                        - VEC_ID_PROC_MIND_STRATEGIC_LOGICAL
                      math:
                        strategicCount:
                          value: 2
                          description: Count of strategic, left-oriented cognitive intake circuits
                        receptiveCount:
                          value: 1
                          description: Count of receptive, right-oriented cognitive intake circuits
                    - engineId: engine_3
                      description: What is my authentic path of learning, self-mastery, and sharing wisdom with the world?
                      vectors:
                        - VEC_ID_LEARNING_EVOLVING_MASTER
                        - VEC_ID_KNOWLEDGE_HERMETIC_ALCHEMY
                      math:
                        dominantScore:
                          value: 1
                          description: Dominant pedagogical learning and knowledge transmission intensity (scale 0-100)
                    - engineId: engine_4
                      description: How does my mind perceive time, orient toward challenges, and navigate contemplative thresholds?
                      vectors:
                        - VEC_ID_OPS_NIGHT_COVERT
                        - VEC_ID_MIND_PIONEER_FORWARD
                        - VEC_ID_NEURAL_IMPULSE_HEALING
                      math:
                        divisionIndex:
                          value: 13
                          description: Mental optics harmonic division index for cognitive processing
                        anareticCount:
                          value: 0
                          description: Count of critical transition thresholds active across planetary positions
                    - engineId: engine_5
                      description: What is my unshakeable moral compass, my soul's core impulse, and what protects me from self-betrayal?
                      vectors:
                        - VEC_ID_INTEGRITY_ETHICAL_DRIFT_RISK
                        - VEC_ID_INTEGRITY_SOUL_ANCHOR
                        - VEC_ID_SOUL_INTENT_DYNAMIC_TRANSMISSION
                        - VEC_ID_SOUL_BASELINE_DISCERNED_PURITY
                        - VEC_ID_SOUL_INDICATOR_MARS
                      math:
                        dharmaBackboneStrength:
                          value: 55
                          description: Unshakeable ethical backbone and resistance to moral self-betrayal (scale 0-100)
                        relationalCohesionScore:
                          value: 30
                          description: Relational fidelity and non-betrayal bond integrity (scale 0-100)
                        harmonicMatchesCount:
                          value: 1
                          description: Count of harmonic resonance alignments across core identity vectors
                        soulIntegrityIndex:
                          value: 50
                          description: Core soul impulse integrity and authenticity index (scale 0-100)
                        imposterImmunityScore:
                          value: 50
                          description: Natural psychological immunity against imposter syndrome and self-doubt (scale 0-100)
                        harmonicResonanceCount:
                          value: 0
                          description: Count of active harmonic resonance nodes in identity matrix
                    - engineId: engine_6
                      description: What subtle constitutional tendencies, somatic rhythms, and inner stamina shape my lived experience?
                      vectors:
                        - VEC_ID_SUBSTRATE_BIO_SERIAL_SOVEREIGN
                        - VEC_ID_SUBSTRATE_CELLULAR_STAMINA_HIGH
                        - VEC_ID_SUBSTRATE_HIDDEN_FIRE_IMPULSE
                        - VEC_ID_SUBSTRATE_CRITICAL_CHOKEPOINT
                        - VEC_ID_SUBSTRATE_CRANIAL_NEURAL_LOAD
                      math:
                        cellularStaminaIndex:
                          value: 88.5
                          description: Innate cellular stamina and deep physical vitality reserve (scale 0-100)
                        bioMagneticStabilityPct:
                          value: 96
                          description: Biomagnetic auric boundary and somatic nervous system stability percentage (0-100%)
                        hiddenFireCount:
                          value: 3
                          description: Metabolic and catalytic fire drive impulses present in physical constitution
                        hiddenEarthCount:
                          value: 1
                          description: Structural grounding and somatic stability impulses present in constitution
                        hiddenAirCount:
                          value: 0
                          description: Neural agility and conceptual transmission impulses present in constitution
                        hiddenWaterCount:
                          value: 1
                          description: Fluidic circulation and emotional depth impulses present in constitution
                        structuralControlScore:
                          value: 40
                          description: Somatic self-regulation and physical structural control (scale 0-100)
                        servicePrecisionScore:
                          value: 40
                          description: Precision focus and craftsmanship devotion score (scale 0-100)
                        totalStressScore:
                          value: 100
                          description: Cumulative physical load and nervous system tension score (scale 0-100)
                        chokepointHitsCount:
                          value: 1
                          description: Count of somatic resistance chokepoints requiring deliberate pacing
                        stellarConduitHitsCount:
                          value: 1
                          description: Count of stellar conduit alignments funneling vital stamina
                        axialCervicalScore:
                          value: 0
                          description: Cervical spine structural tension and neural conduction load (scale 0-100)
                        cranialNeuralScore:
                          value: 55
                          description: Cranial neural processing intensity and mental load (scale 0-100)
                        cardioVascularScore:
                          value: 45
                          description: Cardiovascular vital endurance and exertion load (scale 0-100)
                        sensoryOcularScore:
                          value: 0
                          description: Visual processing and sensory ocular strain score (scale 0-100)
                        metabolicHepaticScore:
                          value: 0
                          description: Hepatic metabolic assimilation and detox efficiency score (scale 0-100)
                        hitsCount:
                          value: 2
                          description: Total somatic marker activation count
                    - engineId: engine_7
                      description: What overarching archetypal journey, life lessons, and soul longings shape my personal pilgrimage?
                      vectors:
                        - VEC_ID_NUM_LIFE_PATH_1_SOVEREIGN_INITIATOR
                        - VEC_ID_NUM_EXPRESSION_MASTER_11
                        - VEC_ID_NUM_SOUL_URGE_MASTER_22
                        - VEC_ID_MYTHIC_ARCHETYPE_RADIANT_SOVEREIGN
                        - VEC_ID_MYTHIC_SHADOW_CHALLENGE
                        - VEC_ID_NAME_PHONETIC_FRICTION
                        - VEC_ID_REFLEX_ACTIVE_LEADER
                      math:
                        masterNumberCount:
                          value: 2
                          description: Count of master archetypal vibrations (11, 22, 33) shaping life lessons
                        phoneticFrictionIndex:
                          value: 7
                          description: Phonetic vocal friction and articulation resistance index in identity expression
                        birthdayReflexNumber:
                          value: 1
                          description: Primary instinctive behavioral reflex number
                    - engineId: engine_8
                      description: What higher archetypal ideals, subtle currents, and conscious aspirations guide my presence?
                      vectors:
                        - VEC_ID_STELLAR_HONOR
                        - VEC_ID_STELLAR_ANALYTICAL_SYNAPSE
                      math:
                        alignmentsCount:
                          value: 2
                          description: Count of direct celestial and stellar alignments active in identity matrix
                        autonomicStressPct:
                          value: 19
                          description: Autonomic nervous system activation and stress load percentage (0-100%)
                        anchorIntegrityScore:
                          value: 100
                          description: Higher aspirational anchor stability and existential alignment (scale 0-100)
                    - engineId: engine_9
                      description: What vibrational signature, social resonance, and tangible footprint does my expressed identity carry in the world?
                      vectors:
                        - VEC_ID_TRANSMISSION_POSITION_SEAL
                        - VEC_ID_TRANSMISSION_RESONANCE_DELEGATED
                        - VEC_ID_NAME_INTEGRITY_VERIFIED
                      math:
                        materialMultiplier:
                          value: 0
                          description: Material resource manifestation and practical grounding multiplier
                        nameIntegrityScore:
                          value: 80
                          description: Lexical and phonetic structural integrity score of the expressed name (scale 0-100)
                        resonantLetterCount:
                          value: 4
                          description: Count of acoustically resonant letters reinforcing vocal authority
        '400':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'
  /v1/criterion/2:
    post:
      summary: 'Criterion 2: Inhibitors, Shadows & Structural Blocks [Pro Tier]'
      tags:
        - 'Criterion 2: Inhibitors, Shadows & Structural Blocks'
      operationId: computeCriterion2Blocks
      deprecated: false
      description: >-
        Evaluates somatic defense mechanisms, ancestral conditioning loops, and systemic energy leaks across 6 analytical engines. Emits
        active standardized vector IDs and curated telemetry metrics with inline interpretation guides. Detailed engine specifications and
        methodologies are available in the repository documentation.


        1. engine_1: What reactive defense patterns, unconscious inhibitors, and deep emotional patterns drain my vital energy, and how can
        they be transformed into wisdom?

        2. engine_2: What ancestral patterns, inherited survival fears, and intergenerational burdens are imprinted in my cellular memory,
        and how do I transform them into sovereign strength?

        3. engine_3: What unresolved life lessons, unexamined vows, and cyclical developmental crossroads shape my journey, and how do I
        transform past inertia into purposeful mastery?

        4. engine_4: Where am I leaking resources, underpricing my authentic value, or fearing commercial expansion, and how do I construct
        an unassailable foundation of financial sovereignty?

        5. engine_5: How do I protect my sovereign boundaries from external friction and predatory dynamics, integrate my exiled shadow
        instincts, and transmute inner bitterness into focused mastery?

        6. engine_6: How do I protect my nervous system from chronic depletion, prevent burnout, and cultivate deep, sovereign restoration
        during sleep?
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileInput'
            example:
              name: Nikola Tesla
              birthDate: '1856-07-10'
              birthTime: '00:00'
              timezoneOffset: 1.02
              latitude: 44.5809
              longitude: 15.3
              gender: male
      responses:
        '200':
          description: Criterion 2 analysis executed successfully. Returns active vectors and sanitized math indicators for all 6 engines.
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The maximum number of requests allowed in the current subscription period.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of remaining requests allowed in the current subscription period.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CriterionEnvelopeResponse'
              example:
                status: success
                criterionNumber: 2
                profile:
                  name: Nikola Tesla
                  birthDate: '1856-07-10'
                  birthTime: '00:00'
                  timezoneOffset: 1.02
                  latitude: 44.5809
                  longitude: 15.3
                  gender: male
                totalActiveVectors: 58
                criterion:
                  criterionId: 2
                  title: Blocks, Defense & Lineage Architecture
                  totalVectors: 58
                  coherenceScore: 30
                  crossEngineAlerts:
                    - KARMIC_CAPITAL_LOCK
                    - NOCTURNAL_PARASITE_DRAIN
                  dominantTheme: CAPITAL_LOCK
                  engines:
                    - engineId: engine_1
                      description: >-
                        What reactive defense patterns, unconscious inhibitors, and deep emotional patterns drain my vital energy, and how
                        can they be transformed into wisdom?
                      vectors:
                        - VEC_BLK_REACTIVITY_NODE_053_PREMATURE_INITIATION
                        - VEC_BLK_REACTIVITY_NODE_054_COMPULSIVE_GREED
                        - VEC_BLK_REACTIVITY_NODE_051_SHOCK_AGITATION
                        - VEC_BLK_REACTIVITY_NODE_057_APPREHENSIVE_UNEASE
                        - VEC_BLK_PATTERN_CLUSTER_HUMANITY_ACTIVE
                        - VEC_BLK_PATTERN_CLUSTER_TRIALS_ACTIVE
                        - VEC_BLK_PATTERN_CLUSTER_ILLUSION_ACTIVE
                        - VEC_BLK_PATTERN_CLUSTER_LIFE_DEATH_ACTIVE
                        - VEC_BLK_PATTERN_CLUSTER_SEEKING_ACTIVE
                        - VEC_BLK_PATTERN_CLUSTER_MATTER_ACTIVE
                        - VEC_BLK_PATTERN_CLUSTER_PROSPERITY_ACTIVE
                        - VEC_BLK_PATTERN_CLUSTER_DIVINITY_ACTIVE
                        - VEC_BLK_PATTERN_CLUSTER_MIRACLES_ACTIVE
                        - VEC_BLK_INHIBITOR_SPHERE_DUALITY_SPLIT
                        - VEC_BLK_INHIBITOR_SPHERE_CHAOS_SABOTAGE
                        - VEC_BLK_CORE_WOUND_ANNIHILATION
                        - VEC_BLK_CATALYST_TRANSMUTATION_ACTIVE
                        - VEC_BLK_CATALYST_VECTOR_SERVICE_TO_OTHERS
                        - VEC_BLK_CORE_WOUND_ACUTE_VULNERABILITY
                        - VEC_BLK_ENTROPY_ADVERSARIAL_PARALYSIS
                        - VEC_BLK_SHELL_MATERIAL_INERTIA
                      math:
                        activePatternClustersCount:
                          value: 9
                          description: Count of active indicators for activePatternClustersCount
                        activeInhibitorSpheresCount:
                          value: 2
                          description: Count of active indicators for activeInhibitorSpheresCount
                        inhibitorLoadPct:
                          value: 46
                          description: Overall unconscious conditioning and resistance inhibitor load percentage (0-100%)
                        collectiveBurdenIndex:
                          value: 35
                          description: Susceptibility to absorbing collective social pressure and external guilt (scale 0-100)
                        transmutationReadiness:
                          value: 57
                          description: Readiness score for transforming shadow friction into conscious capability (scale 0-100)
                        woundTransmutationRatio:
                          value: 0.23
                          description: Proportional ratio (scale 0.0-1.0) for woundTransmutationRatio
                        entropyScore:
                          value: 55
                          description: Cognitive entropy and behavioral disorganization risk score (scale 0-100)
                    - engineId: engine_2
                      description: >-
                        What ancestral patterns, inherited survival fears, and intergenerational burdens are imprinted in my cellular
                        memory, and how do I transform them into sovereign strength?
                      vectors:
                        - VEC_BLK_LINEAGE_GENERAL_HARDWARE_IMPRINT
                        - VEC_BLK_LINEAGE_MATERNAL_SCARCITY_LOCK
                        - VEC_BLK_LINEAGE_PATERNAL_AUTHORITY_GRIT
                        - VEC_BLK_MITOCHONDRIAL_STRESS_LOOP_ACTIVE
                        - VEC_BLK_MORPHIC_ANCESTRAL_REPETITION_LOCK
                        - VEC_BLK_DEFENSE_RATIONALIZATION
                        - VEC_BLK_CATHARSIS_ANCESTRAL_PURGE_ACTIVE
                        - VEC_BLK_CATHARSIS_IDENTITY_SOVEREIGNTY_CRISIS
                      math:
                        parentalHarmonicIndex:
                          value: 5
                          description: Systemic index indicator for parentalHarmonicIndex
                        parentalIntegrityScore:
                          value: 58
                          description: Ancestral parental conditioning resolution and boundary integrity (scale 0-100)
                        maternalResilienceScore:
                          value: 45
                          description: Maternal lineage emotional resilience and nurturing baseline (scale 0-100)
                        paternalGritScore:
                          value: 100
                          description: Paternal lineage perseverance, authority boundary, and grit score (scale 0-100)
                        mitochondrialStressPct:
                          value: 57
                          description: Mitochondrial and cellular stress load percentage (0-100%)
                        cellularFatigueIndex:
                          value: 35
                          description: Systemic index indicator for cellularFatigueIndex
                        epigeneticResonanceScore:
                          value: 88
                          description: Normalized performance or alignment score (scale 0-100) for epigeneticResonanceScore
                        entanglementRiskScore:
                          value: 40
                          description: Normalized performance or alignment score (scale 0-100) for entanglementRiskScore
                        loyaltyTrapIndex:
                          value: 36
                          description: Systemic index indicator for loyaltyTrapIndex
                        ancestralMiasmLoad:
                          value: 0.24
                          description: Quantified constitutional telemetry metric for ancestralMiasmLoad
                    - engineId: engine_3
                      description: >-
                        What unresolved life lessons, unexamined vows, and cyclical developmental crossroads shape my journey, and how do I
                        transform past inertia into purposeful mastery?
                      vectors:
                        - VEC_BLK_KARMIC_TOWER_COLLAPSE_16
                        - VEC_BLK_KARMIC_DEGREE_IMPRINT_ACTIVE
                        - VEC_BLK_KARMIC_PROTOCOL_SENSORY_QUARANTINE
                        - VEC_BLK_KARMIC_PROTOCOL_EGO_DECOMPILATION
                        - VEC_BLK_GRAVITY_EVOLUTIONARY_HEADWIND
                        - VEC_BLK_VOW_VISIBILITY_SUPPRESSION
                        - VEC_BLK_NODAL_SOUTH_REGRESSION_LOOP
                        - VEC_BLK_SKIPPED_STEP_CRUCIBLE
                        - VEC_BLK_SKIPPED_STEP_MULTIPLE_LOCK
                        - VEC_BLK_EVOLUTIONARY_MATURITY_TRANSITION
                        - VEC_BLK_KARMIC_ECLIPSE_CASCADE_ACUTE
                      math:
                        existentialFrictionCode:
                          value: 16
                          description: Quantified constitutional telemetry metric for existentialFrictionCode
                        totalCompulsionCodesCount:
                          value: 3
                          description: Count of active indicators for totalCompulsionCodesCount
                        frictionSeverityScoreTotal:
                          value: 9.1
                          description: Cumulative ancestral karma and life lesson friction severity score (scale 0-100)
                        debtDischargeRatio:
                          value: 0.24
                          description: Proportional ratio (scale 0.0-1.0) for debtDischargeRatio
                        deepGravityIndex:
                          value: 64
                          description: Subconscious gravitational inertia resisting forward evolutionary momentum (scale 0-100)
                        evolutionaryHeadwindPct:
                          value: 50
                          description: Existential evolutionary resistance and karmic headwind percentage (0-100%)
                        pastLifeDragCoefficient:
                          value: 0.5
                          description: Quantified constitutional telemetry metric for pastLifeDragCoefficient
                        visibilitySuppressionIndex:
                          value: 68
                          description: Fear of authentic visibility and self-suppression index (scale 0-100)
                        skippedStepsCount:
                          value: 2
                          description: Count of active indicators for skippedStepsCount
                        cascadeIntensityIndex:
                          value: 67
                          description: Systemic index indicator for cascadeIntensityIndex
                    - engineId: engine_4
                      description: >-
                        Where am I leaking resources, underpricing my authentic value, or fearing commercial expansion, and how do I
                        construct an unassailable foundation of financial sovereignty?
                      vectors:
                        - VEC_BLK_CAPITAL_FLOW_MARKET_DISRUPTION
                        - VEC_BLK_CRISIS_DRAIN_SUDDEN_LIQUIDATION
                        - VEC_BLK_SCALE_BLOCKADE_VISIBILITY_SUPPRESSION
                        - VEC_BLK_SCALE_BLOCKADE_EXPANSION_FEAR
                      math:
                        structuralResistancePct:
                          value: 44
                          description: Structural systemic friction resisting commercial and capital expansion (0-100%)
                        disruptionCoefficient:
                          value: 68
                          description: Sensitivity to sudden financial and environmental disruptions
                        crisisHarmonicIndex:
                          value: 3
                          description: Harmonic index for navigating acute material crises (scale 0-100)
                        sharedResourceFirewallPct:
                          value: 25
                          description: Boundary firewall strength in partnerships and joint asset allocations (0-100%)
                        expansionSuppressionIndex:
                          value: 65
                          description: Systemic index indicator for expansionSuppressionIndex
                    - engineId: engine_5
                      description: >-
                        How do I protect my sovereign boundaries from external friction and predatory dynamics, integrate my exiled shadow
                        instincts, and transmute inner bitterness into focused mastery?
                      vectors:
                        - VEC_BLK_STRUCTURAL_AUTHORITY_FEAR
                        - VEC_BLK_POISON_INNER_SABOTAGE_LOOP
                        - VEC_BLK_BLINDSPOT_LATENT_DIVERGENCE
                        - VEC_BLK_EXILE_REPRESSED_DESIRE_LOCK
                        - VEC_BLK_QUARANTINE_HEAVY
                        - VEC_BLK_QUARANTINE_DUPLICATED_PROJECTION
                        - VEC_BLK_TRAPPED_CAPACITY_EXILE
                        - VEC_BLK_APOGEE_SHADOW_SABOTAGE_ACTIVE
                        - VEC_BLK_APOGEE_SHADOW_TRANSMUTATION
                        - VEC_BLK_STRUCTURAL_AUTHORITY_FEAR
                        - VEC_BLK_SINGULARITY_ALBEDO_REFINEMENT
                      math:
                        litigationExposureIndex:
                          value: 15
                          description: Systemic risk index for contractual disputes and regulatory exposure (scale 0-100)
                        adversaryFrictionScore:
                          value: 20
                          description: Vulnerability to competitor aggression and external adversarial friction (scale 0-100)
                        legalFirewallPct:
                          value: 85
                          description: Immunity and firewall strength against external litigation and institutional friction (0-100%)
                        rawThreatScore:
                          value: 45
                          description: Normalized performance or alignment score (scale 0-100) for rawThreatScore
                        adjustedThreatScore:
                          value: 30
                          description: Normalized performance or alignment score (scale 0-100) for adjustedThreatScore
                        blindspotRiskIndex:
                          value: 100
                          description: Systemic index indicator for blindspotRiskIndex
                        exiledShadowFriction:
                          value: 55
                          description: Quantified constitutional telemetry metric for exiledShadowFriction
                        quarantineDensityScore:
                          value: 0.81
                          description: Normalized performance or alignment score (scale 0-100) for quarantineDensityScore
                        quarantinedAxesCount:
                          value: 1
                          description: Count of active indicators for quarantinedAxesCount
                        trappedCapacitiesCount:
                          value: 5
                          description: Count of active indicators for trappedCapacitiesCount
                        primalRejectionIndex:
                          value: 0.29
                          description: Systemic index indicator for primalRejectionIndex
                        structuralFrictionScore:
                          value: 57
                          description: Normalized performance or alignment score (scale 0-100) for structuralFrictionScore
                        glassCeilingIndex:
                          value: 25
                          description: Systemic index indicator for glassCeilingIndex
                        structuralDelayMultiplier:
                          value: 1.2
                          description: Quantified constitutional telemetry metric for structuralDelayMultiplier
                        axialTotalHitsCount:
                          value: 0
                          description: Count of active indicators for axialTotalHitsCount
                        axialCriticalHitsCount:
                          value: 0
                          description: Count of active indicators for axialCriticalHitsCount
                        axialCollisionDensityScore:
                          value: 0
                          description: Normalized performance or alignment score (scale 0-100) for axialCollisionDensityScore
                        blackFlamePowerIndex:
                          value: 4
                          description: Systemic index indicator for blackFlamePowerIndex
                    - engineId: engine_6
                      description: >-
                        How do I protect my nervous system from chronic depletion, prevent burnout, and cultivate deep, sovereign
                        restoration during sleep?
                      vectors:
                        - VEC_BLK_BURNOUT_CRITICAL
                        - VEC_BLK_BLINDSPOT_LATENT_DIVERGENCE
                        - VEC_BLK_NOCTURNAL_PARASITIC_SUSCEPTIBILITY
                      math:
                        totalBurnoutRiskPct:
                          value: 99
                          description: Systemic nervous system burnout and cognitive overload risk percentage (0-100%)
                        recommendedIsolationHoursPerWeek:
                          value: 19.8
                          description: Mandatory solitary decompression and auric reset hours required per week
                        transferenceRiskIndex:
                          value: 36
                          description: Systemic index indicator for transferenceRiskIndex
                        cognitiveDistortionRatio:
                          value: 0.67
                          description: Proportional ratio (scale 0.0-1.0) for cognitiveDistortionRatio
                        blindspotRiskIndex:
                          value: 100
                          description: Systemic index indicator for blindspotRiskIndex
                        nocturnalConditioningIndex:
                          value: 78
                          description: Systemic index indicator for nocturnalConditioningIndex
                        neuralDrainPct:
                          value: 39
                          description: Sensory noise and neural vitality depletion percentage (0-100%)
                        sleepAuraIntegrityPct:
                          value: 45
                          description: Solitary nocturnal aura protection and restorative sleep integrity percentage (0-100%)
        '400':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'
  /v1/criterion/3:
    post:
      summary: 'Criterion 3: Vocation, Craft & Capital Architecture [Pro Tier]'
      tags:
        - 'Criterion 3: Vocation, Craft & Capital Architecture'
      operationId: computeCriterion3Vocation
      deprecated: false
      description: >-
        Evaluates vocational calling, craft execution, market positioning, and capital architecture across 6 analytical engines. Emits
        active standardized vector IDs and curated telemetry metrics with inline interpretation guides. Detailed engine specifications and
        methodologies are available in the repository documentation.


        1. engine_1: What is my true vocational calling and authentic market role, how do I focus my core craft into unshakeable mastery,
        and how do I bring my gifts into sustainable, impactful service?

        2. engine_2: In which economic landscapes and professional sectors does my unique craft produce the highest leverage, and how do I
        focus my strategic resources to build an enduring legacy?

        3. engine_3: What specific cognitive engines, energetic rhythms, and innate talent clusters power my professional craft, and how do
        I deploy them without friction or exhaustion?

        4. engine_4: What is my authentic leadership archetype, how do I wield executive authority with wisdom and integrity, and how do I
        structure decision-making to achieve lasting impact?

        5. engine_5: How do I cultivate, preserve, and circulate material abundance with wisdom, ensuring that my financial foundations
        support my true purpose and generational security?

        6. engine_6: How do I translate visionary intention into grounded, sustainable execution, maintain my sovereignty against external
        pressures, and scale my craft to endure beyond myself?
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileInput'
            example:
              name: Nikola Tesla
              birthDate: '1856-07-10'
              birthTime: '00:00'
              timezoneOffset: 1.02
              latitude: 44.5809
              longitude: 15.3
              gender: male
      responses:
        '200':
          description: Criterion 3 analysis executed successfully. Returns active vectors and sanitized math indicators for all 6 engines.
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The maximum number of requests allowed in the current subscription period.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of remaining requests allowed in the current subscription period.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CriterionEnvelopeResponse'
              example:
                status: success
                criterionNumber: 3
                profile:
                  name: Nikola Tesla
                  birthDate: '1856-07-10'
                  birthTime: '00:00'
                  timezoneOffset: 1.02
                  latitude: 44.5809
                  longitude: 15.3
                  gender: male
                totalActiveVectors: 50
                criterion:
                  criterionId: 3
                  title: Vocation, Craft & Capital Architecture
                  totalVectors: 50
                  coherenceScore: 75
                  crossEngineAlerts:
                    - COMMAND_UNIFIED
                  dominantTheme: HYBRID_BUILDER
                  engines:
                    - engineId: engine_1
                      description: >-
                        What is my true vocational calling and authentic market role, how do I focus my core craft into unshakeable mastery,
                        and how do I bring my gifts into sustainable, impactful service?
                      vectors:
                        - VEC_VOC_CORE_MISSION_DORMANT
                        - VEC_VOC_EXECUTION_VECTOR_ACTIVE
                        - VEC_VOC_FRICTION_TO_TALENT_READY
                        - VEC_VOC_SKILL_DENSITY_LOW
                        - VEC_VOC_SKILL_COMMERCIAL_ACTIVATION
                        - VEC_VOC_NODE_TRAJECTORY_ACTIVE
                        - VEC_VOC_NODE_TRAJECTORY_INTEGRATED
                        - VEC_VOC_MASTERY_RULER_SUPPORT_ACTIVE
                        - VEC_VOC_MASTERY_RULER_CONSTRAINED
                        - VEC_VOC_MASTERY_RULER_MERCURY
                        - VEC_VOC_OPERATIONAL_MODALITY_HYBRID_ADAPTIVE
                        - VEC_VOC_CORE_ROLE_BUILDER
                        - VEC_VOC_LIFECYCLE_RIGHT_ANGLE
                        - VEC_VOC_LIFECYCLE_GEOMETRY_STRONG
                        - VEC_VOC_LIFECYCLE_ACTIVATION_AGE_REACHED
                      math:
                        missionClarityScore:
                          value: 48
                          description: Authentic vocational mission and core commercial calling clarity (scale 0-100)
                        transmutationReadinessScore:
                          value: 78
                          description: Capacity to monetize core vulnerability into unshakeable market value (scale 0-100)
                        skillDensityIndex:
                          value: 1
                          description: Systemic index indicator for skillDensityIndex
                        commercialActivationScore:
                          value: 81
                          description: Immediate market commercialization and revenue generation capacity (scale 0-100)
                        masteryRulerScore:
                          value: 19
                          description: Normalized performance or alignment score (scale 0-100) for masteryRulerScore
                        individualPct:
                          value: 41
                          description: Relative percentage metric (0-100%) for individualPct
                        tribalPct:
                          value: 24
                          description: Relative percentage metric (0-100%) for tribalPct
                        collectivePct:
                          value: 35
                          description: Relative percentage metric (0-100%) for collectivePct
                        operationalBalanceIndex:
                          value: 91
                          description: Equilibrium between visionary creation and grounded commercial administration (scale 0-100)
                        lifecycleAlignmentScore:
                          value: 80
                          description: Alignment with current vocational lifecycle turning points (scale 0-100)
                        activationAge:
                          value: 50
                          description: Quantified constitutional telemetry metric for activationAge
                    - engineId: engine_2
                      description: >-
                        In which economic landscapes and professional sectors does my unique craft produce the highest leverage, and how do
                        I focus my strategic resources to build an enduring legacy?
                      vectors:
                        - VEC_VOC_PRECISION_DRIVER_SYSTEMIC_CONSOLIDATION
                        - VEC_VOC_PRECISION_SENTINEL_EXECUTIVE_FOCUS
                        - VEC_VOC_MACRO_SECTOR_EXECUTIVE_COMMAND
                        - VEC_VOC_MICRO_SUBSECTOR_REFINED
                        - VEC_VOC_SECTOR_POWER_CONCENTRATED
                        - VEC_VOC_ZENITH_POINT_ACTIVE
                        - VEC_VOC_ZENITH_SIGN_STRONG
                        - VEC_VOC_ZENITH_SECTOR_EMPHASIS
                        - VEC_VOC_FINANCIAL_AXIS_BALANCED
                      math:
                        marketMomentumIndex:
                          value: 1.37
                          description: Natural market momentum and low-friction sector engagement index (scale 0-100)
                        routingConfidenceScore:
                          value: 88
                          description: Confidence score in targeted economic sector and industry positioning (scale 0-100)
                        peakCapacityScore:
                          value: 156
                          description: Normalized performance or alignment score (scale 0-100) for peakCapacityScore
                        activeCareerEfficiencyPct:
                          value: 70
                          description: Active career energy translation efficiency into tangible returns (0-100%)
                        careerEfficiencyChecksum:
                          value: 224
                          description: Quantified constitutional telemetry metric for careerEfficiencyChecksum
                        directMonetizationScore:
                          value: 77.5
                          description: Capacity to generate direct cashflow through primary craft execution (scale 0-100)
                        leveragedCapitalScore:
                          value: 72.5
                          description: Capacity to attract and deploy leveraged institutional capital (scale 0-100)
                        financialAxisRatio:
                          value: 1.07
                          description: Proportional ratio (scale 0.0-1.0) for financialAxisRatio
                    - engineId: engine_3
                      description: >-
                        What specific cognitive engines, energetic rhythms, and innate talent clusters power my professional craft, and how
                        do I deploy them without friction or exhaustion?
                      vectors:
                        - VEC_VOC_TALENT_CLUSTER_STRUCTURAL_ENGINEERING
                        - VEC_VOC_MOTOR_ROUTE_SACRAL_DEFINED
                        - VEC_VOC_MOTOR_ROUTE_ROOT_DEFINED
                        - VEC_VOC_MOTOR_ROUTE_HEART_DEFINED
                        - VEC_VOC_MOTOR_ROUTE_SOLAR_PLEXUS_DEFINED
                        - VEC_VOC_FREQUENCY_BAND_INDIVIDUAL_DOMINANT
                        - VEC_VOC_MOTOR_ENDURANCE_HIGH
                        - VEC_VOC_BUSINESS_SKILL_SYSTEMIC_AUDIT
                      math:
                        motorThroughputScore:
                          value: 100
                          description: Physiological motor circuit bandwidth dedicated to craft execution (scale 0-100)
                        motorEnduranceScore:
                          value: 100
                          description: Sustained motor stamina and physical craft persistence score (scale 0-100)
                        overloadRiskIndex:
                          value: 40
                          description: Risk of cognitive and physical craft exhaustion under high workload (scale 0-100)
                    - engineId: engine_4
                      description: >-
                        What is my authentic leadership archetype, how do I wield executive authority with wisdom and integrity, and how do
                        I structure decision-making to achieve lasting impact?
                      vectors:
                        - VEC_VOC_MARKET_ROLE_BUILDER
                        - VEC_VOC_PLANETARY_STRENGTH_APEX
                        - VEC_VOC_DRIVER_PLANET_MERCURY
                        - VEC_VOC_PLANETARY_STRENGTH_CONSTRAINED
                        - VEC_VOC_COMMAND_CHAIN_SINGLE_APEX
                        - VEC_VOC_COMMAND_CHAIN_MUTUAL_RECEPTION
                        - VEC_VOC_COGNITIVE_STYLE_TACTICAL_EXECUTOR
                      math:
                        roleConfidenceScore:
                          value: 95
                          description: Confidence and natural command in executive market leadership roles (scale 0-100)
                        driverStrengthScore:
                          value: 19
                          description: Inner leadership driver impulse and executive directive strength (scale 0-100)
                        constrainedStrengthScore:
                          value: 7
                          description: Normalized performance or alignment score (scale 0-100) for constrainedStrengthScore
                        decisionLatencyHours:
                          value: 48
                          description: Natural deliberation window in hours required for sound executive decisions
                    - engineId: engine_5
                      description: >-
                        How do I cultivate, preserve, and circulate material abundance with wisdom, ensuring that my financial foundations
                        support my true purpose and generational security?
                      vectors:
                        - VEC_VOC_CAPITAL_RESERVOIR_BALANCED
                        - VEC_VOC_ASSET_PILLAR_TRUST_FUND
                        - VEC_VOC_CASHFLOW_DIRECT_VELOCITY_HIGH
                        - VEC_VOC_WEALTH_VELOCITY_STEADY
                        - VEC_VOC_WEALTH_STAGNATION_RISK
                      math:
                        solarExpansionScore:
                          value: 44
                          description: Solar active capital multiplication, risk appetite, and aggressive growth score (scale 0-100)
                        lunarRetentionScore:
                          value: 56
                          description: Lunar asset preservation, risk mitigation, and cashflow reserve defense score (scale 0-100)
                        realEstateFoundationScore:
                          value: 29
                          description: Resonance with physical property, tangible real estate, and hard asset foundations (scale 0-100)
                        ipFoundationScore:
                          value: 14
                          description: Normalized performance or alignment score (scale 0-100) for ipFoundationScore
                        techEquityFoundationScore:
                          value: 14
                          description: Normalized performance or alignment score (scale 0-100) for techEquityFoundationScore
                        trustFundFoundationScore:
                          value: 43
                          description: Normalized performance or alignment score (scale 0-100) for trustFundFoundationScore
                        leveragedSyndicateVelocity:
                          value: 56
                          description: Quantified constitutional telemetry metric for leveragedSyndicateVelocity
                        capitalFrictionIndex:
                          value: 39
                          description: Systemic index indicator for capitalFrictionIndex
                        wealthVelocityScore:
                          value: 55
                          description: Circulation speed and turnover efficiency of liquid capital (scale 0-100)
                    - engineId: engine_6
                      description: >-
                        How do I translate visionary intention into grounded, sustainable execution, maintain my sovereignty against
                        external pressures, and scale my craft to endure beyond myself?
                      vectors:
                        - VEC_VOC_KINETIC_ACTION_RIGOR
                        - VEC_VOC_KINETIC_ACTION_AGILITY
                        - VEC_VOC_PROJECT_SCALING_EXPONENTIAL
                        - VEC_VOC_PROJECT_SUCCESSION_READY
                        - VEC_VOC_SOVEREIGNTY_AUTONOMOUS_EXECUTOR
                        - VEC_VOC_KINETIC_VELOCITY_DIRECT
                      math:
                        kineticDecanScore:
                          value: 85
                          description: Kinetic operational agility and project execution momentum (scale 0-100)
                        successionReadinessScore:
                          value: 91
                          description: Readiness to delegate operational control and build self-sustaining systems (scale 0-100)
                        projectOffspringIndex:
                          value: 95
                          description: Capacity to spawn, scale, and multiply independent commercial ventures (scale 0-100)
                        conditioningVulnerabilityIndex:
                          value: 31
                          description: Susceptibility to commercial misguidance and false business models (scale 0-100)
                        mandatoryIsolationHoursPerWeek:
                          value: 8
                          description: Quantified constitutional telemetry metric for mandatoryIsolationHoursPerWeek
                        executionFrictionIndex:
                          value: 47
                          description: Systemic index indicator for executionFrictionIndex
        '400':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'
  /v1/criterion/4:
    post:
      summary: 'Criterion 4: Direction, Evolution & Strategic Navigation [Mega Tier]'
      tags:
        - 'Criterion 4: Direction, Evolution & Strategic Navigation'
      operationId: computeCriterion4Direction
      deprecated: false
      description: >-
        Evaluates developmental acceleration windows, spatial resonance, antifragility, and sovereign wealth navigation across 6 analytical
        engines. Emits active standardized vector IDs and curated telemetry metrics with inline interpretation guides. Detailed engine
        specifications and methodologies are available in the repository documentation.


        1. engine_1: What are the natural seasons, cycles of acceleration, and developmental windows of my life, and how do I harmonize my
        efforts with the rhythm of timing rather than forcing outcomes?

        2. engine_2: In what physical environments, directional orientations, and geographical spaces does my nervous system find optimal
        harmony, sovereign focus, and unconstrained creative power?

        3. engine_3: How do I cultivate unshakeable resilience against unforeseen crises, protect my livelihood from systemic volatility,
        and ensure that adversity strengthens rather than diminishes my purpose?

        4. engine_4: How does material abundance naturally assemble around my authentic gifts, what non-linear multipliers amplify my
        impact, and how do I steward profound financial blessings with integrity and wisdom?

        5. engine_5: How do I align my life's work with the great generational epochs, economic seasons, and natural macro-rhythms of our
        time so that my actions move in harmony with history?

        6. engine_6: How do I heal generational limitations, achieve authentic life sovereignty, and build an enduring legacy that blesses
        my family and future generations with freedom and wisdom?
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileInput'
            example:
              name: Nikola Tesla
              birthDate: '1856-07-10'
              birthTime: '00:00'
              timezoneOffset: 1.02
              latitude: 44.5809
              longitude: 15.3
              gender: male
      responses:
        '200':
          description: Criterion 4 analysis executed successfully. Returns active vectors and sanitized math indicators for all 6 engines.
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The maximum number of requests allowed in the current subscription period.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of remaining requests allowed in the current subscription period.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CriterionEnvelopeResponse'
              example:
                status: success
                criterionNumber: 4
                profile:
                  name: Nikola Tesla
                  birthDate: '1856-07-10'
                  birthTime: '00:00'
                  timezoneOffset: 1.02
                  latitude: 44.5809
                  longitude: 15.3
                  gender: male
                totalActiveVectors: 62
                criterion:
                  criterionId: 4
                  title: Direction, Timing & Macro-Scaling Architecture
                  totalVectors: 62
                  coherenceScore: 88
                  crossEngineAlerts:
                    - TIMING_LIQUIDITY_MISMATCH
                    - SOVEREIGN_SPATIAL_ALIGNMENT
                    - MACRO_LEGACY_SYNCHRONICITY
                    - STRUCTURAL_KNOT_BREAKTHROUGH
                    - CRITICAL_TIMING_CONVERGENCE
                  dominantTheme: SOVEREIGN_TIMING_ARCHITECT
                  engines:
                    - engineId: engine_1
                      description: >-
                        What are the natural seasons, cycles of acceleration, and developmental windows of my life, and how do I harmonize
                        my efforts with the rhythm of timing rather than forcing outcomes?
                      vectors:
                        - VEC_DIR_CYCLE_RELEASE_PEAK_ACTIVE
                        - VEC_DIR_FUTURE_PEAK_WINDOW
                        - VEC_DIR_FUTURE_VALLEY_WINDOW
                        - VEC_DIR_FUTURE_TRANSITION_PHASE
                        - VEC_DIR_TIME_ARCHITECTURE_LEGACY
                        - VEC_DIR_SUCCESS_TIMELINE_GOLDEN_WINDOW
                        - VEC_DIR_SUCCESS_TIMELINE_OPTIMAL_LAUNCH
                        - VEC_DIR_SUCCESS_TIMELINE_STRATEGIC_PAUSE
                        - VEC_DIR_TEMPO_OVERCLOCK_ACTIVE
                        - VEC_DIR_TEMPO_HIGH_BURN_RATE
                      math:
                        daysToNextPeak:
                          value: 0
                          description: Quantified constitutional telemetry metric for daysToNextPeak
                        personalYearNumber:
                          value: 9
                          description: Quantified constitutional telemetry metric for personalYearNumber
                        cycleCompletionPct:
                          value: 100
                          description: Percentage completion of the active multi-year strategic cycle (0-100%)
                        alignmentStrengthScore:
                          value: 76
                          description: Strength of synchronicity with macro temporal windows (scale 0-100)
                        timingConfidenceScore:
                          value: 94
                          description: Confidence index in current multi-year strategic acceleration cycle (scale 0-100)
                        timeDilationFactor:
                          value: 1.29
                          description: Subjective temporal perception and strategic pacing factor
                        systemBurnRateTotal:
                          value: 2.47
                          description: Quantified constitutional telemetry metric for systemBurnRateTotal
                    - engineId: engine_2
                      description: >-
                        In what physical environments, directional orientations, and geographical spaces does my nervous system find optimal
                        harmony, sovereign focus, and unconstrained creative power?
                      vectors:
                        - VEC_DIR_SPATIAL_GRID_EUROPE
                        - VEC_DIR_SPATIAL_GRID_OPTIMAL_ALIGNMENT
                        - VEC_DIR_LOCAL_SPACE_NORTH_ALIGNMENT
                        - VEC_DIR_LOCAL_SPACE_EAST_ALIGNMENT
                        - VEC_DIR_ARCHITECTURE_NORTH_EAST_OPTIMAL
                        - VEC_DIR_ARCHITECTURE_SOUTH_WEST_OPTIMAL
                        - VEC_DIR_ARCHITECTURE_ELEMENTAL_ALIGNMENT
                      math:
                        spatialResonanceScore:
                          value: 87
                          description: Global geographical meridian harmony and creative flow resonance (scale 0-100)
                        localSpaceResonanceScore:
                          value: 84
                          description: Local directional and workspace spatial alignment resonance (scale 0-100)
                        architecturalCompatibilityScore:
                          value: 88
                          description: Normalized performance or alignment score (scale 0-100) for architecturalCompatibilityScore
                        environmentalResonanceScore:
                          value: 86
                          description: Immediate physical environment harmony and cognitive comfort (scale 0-100)
                        mandatoryIsolationHoursPerWeek:
                          value: 8
                          description: Quantified constitutional telemetry metric for mandatoryIsolationHoursPerWeek
                    - engineId: engine_3
                      description: >-
                        How do I cultivate unshakeable resilience against unforeseen crises, protect my livelihood from systemic volatility,
                        and ensure that adversity strengthens rather than diminishes my purpose?
                      vectors:
                        - VEC_DIR_LIQUIDITY_BUFFER_12_MONTHS
                        - VEC_DIR_SYSTEMIC_LIQUIDATION_RISK_CRITICAL
                        - VEC_DIR_SHARED_CAPITAL_FIREWALL_MANDATORY
                        - VEC_DIR_ANTIFRAGILITY_APEX
                        - VEC_DIR_CRISIS_PIVOT_RAPID
                        - VEC_DIR_CHAOS_BENEFIT_CAPACITY_HIGH
                        - VEC_DIR_MACRO_ANOMALY_EXPOSURE_HIGH
                        - VEC_DIR_LEVERAGE_PROHIBITION
                        - VEC_DIR_EXTREME_VOLATILITY_SENSITIVITY
                        - VEC_DIR_OPERATIONAL_SABOTAGE_HIGH
                        - VEC_DIR_SHADOW_SUCCESS_PATTERN
                        - VEC_DIR_MONEY_BLOCK_SATURN
                        - VEC_DIR_MONEY_BLOCK_PLUTO
                      math:
                        liquidityBufferMonths:
                          value: 12
                          description: Recommended liquid capital emergency runway in months to ensure sovereign freedom
                        antifragilityIndex:
                          value: 0.87
                          description: Capacity to gain strength and multiply assets from market disruptions and crises (scale 0-100)
                        crisisPivotSpeedHours:
                          value: 12
                          description: Estimated response agility in hours to pivot business operations during systemic shocks
                        chaosBenefitCapacity:
                          value: 78
                          description: Quantified constitutional telemetry metric for chaosBenefitCapacity
                        pivotReadinessScore:
                          value: 82
                          description: Operational flexibility and readiness score for structural strategic pivots (scale 0-100)
                        macroAnomalyExposureScore:
                          value: 74
                          description: Resilience against black-swan systemic and geopolitical events (scale 0-100)
                        generationalDisruptionRisk:
                          value: 63
                          description: Quantified constitutional telemetry metric for generationalDisruptionRisk
                        operationalSabotageIntensity:
                          value: 69
                          description: Quantified constitutional telemetry metric for operationalSabotageIntensity
                        moneyBlockSaturnScore:
                          value: 73
                          description: Normalized performance or alignment score (scale 0-100) for moneyBlockSaturnScore
                        moneyBlockPlutoScore:
                          value: 60
                          description: Normalized performance or alignment score (scale 0-100) for moneyBlockPlutoScore
                    - engineId: engine_4
                      description: >-
                        How does material abundance naturally assemble around my authentic gifts, what non-linear multipliers amplify my
                        impact, and how do I steward profound financial blessings with integrity and wisdom?
                      vectors:
                        - VEC_DIR_WINDFALL_POTENTIAL_HIGH
                        - VEC_DIR_CAPITAL_MULTIPLIER_5_0X
                        - VEC_DIR_INSTITUTIONAL_PATRONAGE_ACTIVE
                        - VEC_DIR_STRUCTURAL_WEALTH_SOVEREIGN_POWER
                        - VEC_DIR_MATERIAL_POWER_GUARANTEE
                        - VEC_DIR_PROBABILITY_ANOMALY_DETECTED
                        - VEC_DIR_MATRIX_GLITCH_OPPORTUNITY
                        - VEC_DIR_RARE_CONFIGURATION_ACTIVE
                        - VEC_DIR_RESONANCE_NODE_VICTORY
                        - VEC_DIR_EFFORTLESS_FLOW_ACTIVE
                        - VEC_DIR_FLOW_GOLDEN_CONDUCTIVITY_HIGH
                        - VEC_DIR_FLOW_SUPER_LINKAGE_ACTIVE
                        - VEC_DIR_FLOW_UNCOUPLED_VACUUM_ISOLATION
                      math:
                        windfallPotentialScore:
                          value: 74
                          description: Nonlinear asymmetric windfall and probability anomaly potential (scale 0-100)
                        capitalMultiplierMax:
                          value: 5
                          description: Maximum theoretical capital multiplication coefficient across long-term horizons
                        structuralWealthScore:
                          value: 90
                          description: Long-term enduring multi-generational wealth foundation score (scale 0-100)
                        probabilityAnomalyScore:
                          value: 72
                          description: Frequency of serendipitous breakthrough occurrences in commercial timing (scale 0-100)
                        flowConductivityScore:
                          value: 39.37
                          description: Normalized performance or alignment score (scale 0-100) for flowConductivityScore
                        turbulentFrictionScore:
                          value: 23.25
                          description: Normalized performance or alignment score (scale 0-100) for turbulentFrictionScore
                        voidVacuumScore:
                          value: 18.18
                          description: Normalized performance or alignment score (scale 0-100) for voidVacuumScore
                        catalyticSuperLinkageCount:
                          value: 1
                          description: Count of active indicators for catalyticSuperLinkageCount
                        structuralClashCount:
                          value: 0
                          description: Count of active indicators for structuralClashCount
                    - engineId: engine_5
                      description: >-
                        How do I align my life's work with the great generational epochs, economic seasons, and natural macro-rhythms of our
                        time so that my actions move in harmony with history?
                      vectors:
                        - VEC_DIR_SOLAR_CYCLE_MAXIMUM_DISRUPTION
                        - VEC_DIR_GLOBAL_EPOCH_AIR_INNOVATION
                        - VEC_DIR_LONG_WAVE_WINTER_DEFLATION
                        - VEC_DIR_UNIVERSAL_RESONANCE_MODERATE
                        - VEC_DIR_SYNCHRONICITY_ALIGNMENT_HIGH
                        - VEC_DIR_COLLECTIVE_FLOW_ALIGNED
                        - VEC_DIR_COLLECTIVE_MUTATION_CROSSING_GATE
                        - VEC_DIR_DNA_RESONANCE_HIGH
                        - VEC_DIR_ADAPTATION_READINESS_ACTIVE
                      math:
                        initiativeAlignmentScore:
                          value: 78
                          description: Alignment of active business initiatives with prevailing historical trends (scale 0-100)
                        epochResonanceScore:
                          value: 90
                          description: Resonance with the defining civilizational paradigm and generational themes (scale 0-100)
                        longWaveAlignmentScore:
                          value: 76
                          description: Strategic harmony with multi-decade economic Kondratiev cycles (scale 0-100)
                        universalResonanceIndex:
                          value: 0.78
                          description: Harmonic resonance index with macro cosmic and seasonal cycles (scale 0-100)
                        synchronicityAlignmentScore:
                          value: 78
                          description: Normalized performance or alignment score (scale 0-100) for synchronicityAlignmentScore
                        dnaResonanceScore:
                          value: 100
                          description: Normalized performance or alignment score (scale 0-100) for dnaResonanceScore
                    - engineId: engine_6
                      description: >-
                        How do I heal generational limitations, achieve authentic life sovereignty, and build an enduring legacy that
                        blesses my family and future generations with freedom and wisdom?
                      vectors:
                        - VEC_DIR_SOVEREIGN_WEALTH_TIER_MODERATE
                        - VEC_DIR_SOVEREIGN_WEALTH_CRITICAL_GAPS
                        - VEC_DIR_ESCAPE_VELOCITY_PARTIAL
                        - VEC_DIR_FINANCIAL_AUTONOMY_APEX
                        - VEC_DIR_LEGACY_STRUCTURAL_SYSTEMS
                        - VEC_DIR_LEGACY_MULTIPLIER_100X
                        - VEC_DIR_IP_SCALING_APEX
                        - VEC_DIR_GENERATIONAL_KNOT_ISOLATION_EXILE
                        - VEC_DIR_KNOT_RESOLUTION_READY
                        - VEC_DIR_ANCESTRAL_BREAKTHROUGH_IMMINENT
                      math:
                        ultimateCapitalIndex:
                          value: 73
                          description: Overall personal financial sovereignty and systemic independence index (scale 0-100)
                        criticalGapCount:
                          value: 2
                          description: Count of strategic vulnerabilities requiring structural remediation
                        systemicIndependenceScore:
                          value: 71
                          description: Independence score from fragile centralized economic institutions (scale 0-100)
                        financialAutonomyScore:
                          value: 75
                          description: Permanent sovereign financial autonomy and freedom score (scale 0-100)
                        operationalFreedomScore:
                          value: 60
                          description: Normalized performance or alignment score (scale 0-100) for operationalFreedomScore
                        socialIndependenceScore:
                          value: 80
                          description: Normalized performance or alignment score (scale 0-100) for socialIndependenceScore
                        legacyMultiplicationScore:
                          value: 82
                          description: Capacity to transmit lasting values, wisdom, and capital across generations (scale 0-100)
                        legacyMultiplierMax:
                          value: 100
                          description: Quantified constitutional telemetry metric for legacyMultiplierMax
                        knotResolutionReadiness:
                          value: 84
                          description: Quantified constitutional telemetry metric for knotResolutionReadiness
                        ancestralBurdenScore:
                          value: 41
                          description: Normalized performance or alignment score (scale 0-100) for ancestralBurdenScore
        '400':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'
  /v1/criterion/5:
    post:
      summary: 'Criterion 5: Operating Mode, Equilibrium & Bio-Prescriptions [Mega Tier]'
      tags:
        - 'Criterion 5: Operating Mode, Equilibrium & Bio-Prescriptions'
      operationId: computeCriterion5Operating
      deprecated: false
      description: >-
        Evaluates daily operating dynamics, somatic equilibrium, sensory regulation, and biological restoration across 6 analytical engines.
        Emits active standardized vector IDs and curated telemetry metrics with inline interpretation guides. Detailed engine specifications
        and methodologies are available in the repository documentation.


        1. engine_1: How does my body and mind uniquely digest nutrition, information, and sensory stimuli, and what environments best
        protect my peace, vitality, and cognitive clarity?

        2. engine_2: How do I honor my need for deep nightly restoration, shield my sensitive subconscious mind during sleep, and wake up
        genuinely refreshed and centered in my true self?

        3. engine_3: What is my authentic energetic constitution, when do my natural peak focus windows open during the day, and how do I
        nurture sustainable physical vitality without burnout?

        4. engine_4: What is the core vitality and resilience of my physical vessel, what environmental comfort best supports my nervous
        system, and how do I preserve my deepest life force over a long lifetime?

        5. engine_5: How do I recover from deep physical fatigue, create sanctuary spaces for profound renewal, and access stillness to
        reset my nervous system and soul?

        6. engine_6: How do I clear sensory saturation, attune my nervous system to restorative frequencies, and cultivate deep internal
        quietude to sustain clarity and inner peace?
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileInput'
            example:
              name: Nikola Tesla
              birthDate: '1856-07-10'
              birthTime: '00:00'
              timezoneOffset: 1.02
              latitude: 44.5809
              longitude: 15.3
              gender: male
      responses:
        '200':
          description: Criterion 5 analysis executed successfully. Returns active vectors and sanitized math indicators for all 6 engines.
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The maximum number of requests allowed in the current subscription period.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: The number of remaining requests allowed in the current subscription period.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CriterionEnvelopeResponse'
              example:
                status: success
                criterionNumber: 5
                profile:
                  name: Nikola Tesla
                  birthDate: '1856-07-10'
                  birthTime: '00:00'
                  timezoneOffset: 1.02
                  latitude: 44.5809
                  longitude: 15.3
                  gender: male
                totalActiveVectors: 48
                criterion:
                  criterionId: 5
                  title: Operating Dynamics, Somatics & Energy Protocols
                  totalVectors: 48
                  coherenceScore: 60
                  crossEngineAlerts:
                    - CELLULAR_ACOUSTIC_DEFENSE_REQUIRED
                  dominantTheme: SOMATIC_GROUNDING_AND_CELLULAR_PRESERVATION
                  engines:
                    - engineId: engine_1
                      description: >-
                        How does my body and mind uniquely digest nutrition, information, and sensory stimuli, and what environments best
                        protect my peace, vitality, and cognitive clarity?
                      vectors:
                        - VEC_OM_DIET_SOLAR_DAY_DINING
                        - VEC_OM_SENSORY_ABSORPTION_HIGH
                        - VEC_OM_COGNITIVE_STRATEGIC_FOCUSED
                        - VEC_OM_DATA_INTAKE_HIGH_BANDWIDTH
                        - VEC_OM_INFORMATION_DENSITY_HIGH
                        - VEC_OM_ENVIRONMENT_SHORES
                        - VEC_OM_WORKSPACE_HYBRID_SANCTUARY
                        - VEC_OM_DIGESTION_DIRECT_FAST
                        - VEC_OM_PROCESSING_EFFICIENCY_HIGH
                      math:
                        sensoryAbsorptionEfficiency:
                          value: 88
                          description: Nutritional, sensory, and conceptual absorption efficiency (scale 0-100)
                        sensoryColorScore:
                          value: 1
                          description: Normalized performance or alignment score (scale 0-100) for sensoryColorScore
                        dataIntakeBandwidth:
                          value: 80
                          description: Daily cognitive bandwidth for complex analytical information processing (scale 0-100)
                        environmentalResonanceScore:
                          value: 82
                          description: Immediate physical environment harmony and cognitive comfort (scale 0-100)
                        processingEfficiency:
                          value: 79
                          description: Mental processing efficiency under focused uninterrupted conditions (scale 0-100)
                        optimalTaskDuration:
                          value: 25
                          description: Optimal deep-work sprint duration in minutes before neural fatigue sets in
                    - engineId: engine_2
                      description: >-
                        How do I honor my need for deep nightly restoration, shield my sensitive subconscious mind during sleep, and wake up
                        genuinely refreshed and centered in my true self?
                      vectors:
                        - VEC_OM_SLEEP_ISOLATION_RADIUS_3M
                        - VEC_OM_NOCTURNAL_DEFENSE_ACTIVATION_HIGH
                        - VEC_OM_NOCTURNAL_FEEDING_LOOP
                        - VEC_OM_SUBCONSCIOUS_REPROGRAMMING_RESISTANT
                        - VEC_OM_SENSORY_CUTOFF_22H
                        - VEC_OM_OFF_DUTY_SANCTUARY_ACTIVE
                      math:
                        nocturnalDrainIndex:
                          value: 62
                          description: Susceptibility to electromagnetic and environmental drain during sleep (scale 0-100)
                        minimumSleepHours:
                          value: 7
                          description: Biologically mandated minimum sleep duration in hours for complete cognitive restoration
                        sleepEnvironmentScore:
                          value: 78
                          description: Quality and solitary boundary protection of the primary sleep sanctuary (scale 0-100)
                        nocturnalActivationScore:
                          value: 95
                          description: Tendency toward nocturnal cognitive alertness and evening flow states (scale 0-100)
                        fieldAttachmentIndex:
                          value: 58
                          description: Systemic index indicator for fieldAttachmentIndex
                        decompressionRitualDuration:
                          value: 30
                          description: Quantified constitutional telemetry metric for decompressionRitualDuration
                        cortisolResetEfficiency:
                          value: 82
                          description: Efficiency of autonomic nervous system down-regulation and cortisol clearing (scale 0-100)
                    - engineId: engine_3
                      description: >-
                        What is my authentic energetic constitution, when do my natural peak focus windows open during the day, and how do I
                        nurture sustainable physical vitality without burnout?
                      vectors:
                        - VEC_OM_METABOLIC_HYBRID_ADAPTIVE
                        - VEC_OM_ELEMENT_WATER_DOMINANT
                        - VEC_OM_PEAK_FOCUS_WINDOW_AFTERNOON
                        - VEC_OM_CONSTITUTION_FIRE_WATER
                        - VEC_OM_STRUCTURAL_STABILITY_HIGH
                        - VEC_OM_DEEP_WORK_ENDURANCE_PROTOCOL
                        - VEC_OM_EXERCISE_AFTERNOON_PEAK
                      math:
                        kineticBurstCapacity:
                          value: 78
                          description: Anaerobic and cognitive sprint capacity for short intense work bursts (scale 0-100)
                        sustainedEnduranceScore:
                          value: 80
                          description: Aerobic and persistent stamina score for long uninterrupted marathons (scale 0-100)
                        optimalWorkSessionMinutes:
                          value: 60
                          description: Recommended uninterrupted focus session length in minutes
                        woodStrength:
                          value: 70
                          description: Quantified constitutional telemetry metric for woodStrength
                        fireStrength:
                          value: 53
                          description: Quantified constitutional telemetry metric for fireStrength
                        earthStrength:
                          value: 50
                          description: Quantified constitutional telemetry metric for earthStrength
                        metalStrength:
                          value: 55
                          description: Quantified constitutional telemetry metric for metalStrength
                        waterStrength:
                          value: 80
                          description: Quantified constitutional telemetry metric for waterStrength
                        constitutionAScore:
                          value: 38
                          description: Normalized performance or alignment score (scale 0-100) for constitutionAScore
                        constitutionBScore:
                          value: 65
                          description: Normalized performance or alignment score (scale 0-100) for constitutionBScore
                        constitutionCScore:
                          value: 63
                          description: Normalized performance or alignment score (scale 0-100) for constitutionCScore
                        digestiveFireStrength:
                          value: 62
                          description: Quantified constitutional telemetry metric for digestiveFireStrength
                        structuralStabilityScore:
                          value: 70
                          description: Physical musculoskeletal stability and ergonomic endurance score (scale 0-100)
                        adaptiveFluidityIndex:
                          value: 34
                          description: Systemic index indicator for adaptiveFluidityIndex
                        optimalDeepWorkHours:
                          value: 6
                          description: Time duration in hours for optimalDeepWorkHours
                        recommendedSleepHours:
                          value: 8.5
                          description: Optimal daily sleep target in hours for peak neurocognitive performance
                    - engineId: engine_4
                      description: >-
                        What is the core vitality and resilience of my physical vessel, what environmental comfort best supports my nervous
                        system, and how do I preserve my deepest life force over a long lifetime?
                      vectors:
                        - VEC_OM_ESSENCE_PRANA_DOMINANT
                        - VEC_OM_ESSENCE_BALANCE_HIGH
                        - VEC_OM_D27_CELLULAR_FORTITUDE_HIGH
                        - VEC_OM_RESILIENCE_MULTIPLIER_HIGH
                        - VEC_OM_D16_MATERIAL_SUKHA_HIGH
                        - VEC_OM_TRAVEL_SAFETY_HIGH
                        - VEC_OM_MOBILE_SANCTUARY_HIGH_LUXURY
                        - VEC_OM_D5_ELEMENT_WATER_DOMINANT
                      math:
                        tejasScore:
                          value: 60
                          description: Subtle metabolic and digestive vitality fire reserve score (scale 0-100)
                        pranaScore:
                          value: 74
                          description: Cellular breath, oxygenation, and dynamic life-force score (scale 0-100)
                        ojasScore:
                          value: 68
                          description: Deep somatic immunity, restorative reserve, and vitality foundation score (scale 0-100)
                        essenceBalanceIndex:
                          value: 79
                          description: Harmonic balance index across foundational biological essences (scale 0-100)
                        resilienceMultiplier:
                          value: 1.13
                          description: Quantified constitutional telemetry metric for resilienceMultiplier
                        fatigueThresholdHours:
                          value: 8.9
                          description: Time duration in hours for fatigueThresholdHours
                        cellularFortitudeScore:
                          value: 79
                          description: Innate cellular resistance against environmental and microbial stressors (scale 0-100)
                        sukhaScore:
                          value: 77
                          description: Normalized performance or alignment score (scale 0-100) for sukhaScore
                        travelSafetyIndex:
                          value: 82
                          description: Biological resilience against travel fatigue, jet lag, and spatiotemporal dislocation (scale 0-100)
                    - engineId: engine_5
                      description: >-
                        How do I recover from deep physical fatigue, create sanctuary spaces for profound renewal, and access stillness to
                        reset my nervous system and soul?
                      vectors:
                        - VEC_OM_CONSTITUTION_KAPHA_EARTH_WATER
                        - VEC_OM_CONSTITUTIONAL_HARMONY_HIGH
                        - VEC_OM_DOPAMINE_RESET_AFTERNOON
                        - VEC_OM_COMFORT_RADICAL_PURGE
                        - VEC_OM_CRISIS_RECOVERY_RAPID
                        - VEC_OM_MITOCHONDRIAL_STRESS_DETECTED
                        - VEC_OM_EGO_DISSOLUTION_SILENT_MEDITATION
                        - VEC_OM_ZERO_POINT_ACCESS_POTENTIAL
                      math:
                        kaphaScore:
                          value: 69
                          description: Normalized performance or alignment score (scale 0-100) for kaphaScore
                        constitutionalHarmony:
                          value: 81
                          description: Overall constitutional equilibrium and psychosomatic homeostasis score (scale 0-100)
                        dopamineResetScore:
                          value: 52
                          description: Capacity to quickly reset neurotransmitter baselines through quietude (scale 0-100)
                        sensoryCutoffDuration:
                          value: 45
                          description: Quantified constitutional telemetry metric for sensoryCutoffDuration
                        mitochondrialStressIndex:
                          value: 45
                          description: Mitochondrial metabolic stress and energetic recovery index (scale 0-100)
                    - engineId: engine_6
                      description: >-
                        How do I clear sensory saturation, attune my nervous system to restorative frequencies, and cultivate deep internal
                        quietude to sustain clarity and inner peace?
                      vectors:
                        - VEC_OM_BAND_DELTA_DOMINANT
                        - VEC_OM_FREQUENCY_SYNC_HIGH
                        - VEC_OM_ACOUSTIC_963_DIVINE_CONSCIOUSNESS
                        - VEC_OM_SENSORY_DISSONANCE_HIGH
                        - VEC_OM_ACOUSTIC_SHIELDING_REQUIRED
                        - VEC_OM_ZODIACAL_ACOUSTIC_DISSONANCE
                        - VEC_OM_QUIETUDE_ACCESS_PROFOUND
                        - VEC_OM_MEDITATION_DEPTH_PROFOUND
                        - VEC_OM_EGO_DISSOLUTION_RAPID
                        - VEC_OM_BIOCHEMICAL_HARMONIC_ONTOLOGY_ACTIVE
                      math:
                        primaryToneHz:
                          value: 963
                          description: Recommended acoustic resonance sound frequency in Hertz (e.g. 432 or 528 Hz)
                        acousticRemediationIndex:
                          value: 66
                          description: Receptivity score to vibrational acoustic reset and sound therapy (scale 0-100)
                        sensoryDissonanceScore:
                          value: 60
                          description: Sensitivity and vulnerability to harsh sensory noise and environmental chaos (scale 0-100)
                        quietudeAccessScore:
                          value: 77
                          description: Ease of entering restorative states of absolute mental silence and peace (scale 0-100)
        '400':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '503':
          $ref: '#/components/responses/ServiceUnavailableError'
  /health:
    get:
      summary: Service Health and Container Telemetry Probe
      tags:
        - System Telemetry
      operationId: getHealthStatus
      deprecated: false
      description: Service health check, latency verification, and container uptime probe.
      responses:
        '200':
          description: Service is healthy, initialized, and ready to accept analytical requests.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - service
                  - version
                  - timestamp
                properties:
                  status:
                    type: string
                    example: UP
                  service:
                    type: string
                    example: cognitive-blueprint-ai-engine
                  version:
                    type: string
                    example: 1.0.0
                  timestamp:
                    type: string
                    format: date-time
                    example: '2026-03-30T12:00:00.000Z'
              example:
                status: UP
                service: cognitive-blueprint-ai-engine
                version: 1.0.0
                timestamp: '2026-03-30T12:00:00.000Z'
components:
  securitySchemes:
    RapidApiKey:
      type: apiKey
      name: X-RapidAPI-Key
      in: header
      description: Your RapidAPI personal subscription key.
    RapidApiHost:
      type: apiKey
      name: X-RapidAPI-Host
      in: header
      description: The RapidAPI host header.
  schemas:
    ProfileInput:
      type: object
      required:
        - name
        - birthDate
        - birthTime
        - timezoneOffset
        - latitude
        - longitude
        - gender
      description: Permanent spatiotemporal birth coordinates required to calculate the enduring constitutional blueprint.
      properties:
        name:
          type: string
          example: Nikola Tesla
          description: Full subject name or profile identifier.
        birthDate:
          type: string
          format: date
          example: '1856-07-10'
          description: Birth date in ISO format (YYYY-MM-DD).
        birthTime:
          type: string
          example: '00:00'
          description: Exact birth time in 24-hour format (HH:mm).
        timezoneOffset:
          type: number
          example: 1.02
          description: UTC timezone offset in decimal hours (e.g. +1.02 for Smiljan, Croatia in 1856).
        latitude:
          type: number
          example: 44.5809
          description: Birth geographic latitude in decimal degrees (-90.0 to +90.0).
        longitude:
          type: number
          example: 15.3
          description: Birth geographic longitude in decimal degrees (-180.0 to +180.0).
        gender:
          type: string
          enum:
            - male
            - female
          example: male
          description: Biological sex for constitutional hormonal and polar baselines.
    CriterionEnvelopeResponse:
      type: object
      description: Standard envelope format for single-criterion analytical queries.
      required:
        - status
        - criterionNumber
        - profile
        - totalActiveVectors
        - criterion
      properties:
        status:
          type: string
          example: success
          description: Execution status indicator.
        criterionNumber:
          type: integer
          example: 1
          description: Criterion index number (1 to 5).
[...]
